* {
  box-sizing: border-box;
}
.listWrap {
  width: 80%;
  margin: 0 auto;
}
#usersTable {
  width: 100%;
}
td > input {
  width: 100%;
}
table, td{
  border: 1px solid black;
  border-collapse: collapse;
}
td{
  text-align: center;
}